.App { 
  width: 600px; 
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  min-height: 100px;
}

.public-DraftEditor-content {
  min-height: 100px;
}

.DraftEditor-editorContainer {
  cursor: text;
  font-size: 16px;
}